# Importar Librerias

In [41]:
import pandas_access as mdb
import os

# Procedimiento 
En caso de algún error los requisitos para el correcto funcionamiento de las librerias requiere de

1. instalar libreria pandas_access
2. instalar libreria  mbdtools

# Cargar base de datos en formato accdb 
Una vez se carga la base de datos, las tablas contenidas son exportadas en formato .csv. Adicionalmente se imprime el nombre de todas las tablas contenidas en la base de datos
## Guia de uso
1. Establecer la direccion de la base de datos en 
- HOUSING_PATH = os.path.join("/home","gcpds","Descargas")

In [50]:
HOUSING_PATH = os.path.join("/home","gcpds","Descargas")
db_access = os.path.join(HOUSING_PATH,"BD_PRUEBA.accdb")
for table in mdb.list_tables(db_access):
    print(table)
    df = mdb.read_table(db_access, table)
    df.to_csv(f'{table}.csv')

CLIENTES
FACTURAS
RECAUDO
CONSUMOS

# Obtener los datos de las bases de datos formato CSV 
## Guia de uso 
1. Establecer direccion de la base de datos en 
- HOUSING_PATH = os.path.join("/home","gcpds","Descargas")
2. Establecer nombre del archivo de acuerdo a las tablas dispoibles, para este caso:
- CLIENTES,FACTURAS,RECAUDO,CONSUMOS,
- csv_path = os.path.join( housing_path,"FACTURAS.csv")

In [51]:

def load_housing_data(housing_path=HOUSING_PATH):   
    csv_path = os.path.join( housing_path,"FACTURAS.csv")
    return pd.read_csv(csv_path)
housing = load_housing_data()
housing

,Unnamed: 0,LOC,CUENTA,NUMERO,EMISION,FDVTO1,TOTAL,Id
0,0,1,41797,S-FS05547827,01/03/14 00:00:00,01/10/14 00:00:00,65570.0,1
1,1,1,16793,S-FS05547828,01/03/14 00:00:00,01/10/14 00:00:00,98490.0,2
2,2,1,16791,S-FS05547829,01/03/14 00:00:00,01/10/14 00:00:00,65570.0,3
3,3,1,16790,S-FS05547830,01/03/14 00:00:00,01/10/14 00:00:00,33310.0,4
4,4,1,16788,S-FS05547831,01/03/14 00:00:00,01/10/14 00:00:00,25750.0,5
...,...,...,...,...,...,...,...,...
5819753,5819753,1,32951,S-FO00265257,04/30/19 00:00:00,04/30/19 00:00:00,292950.0,5819754
5819754,5819754,215,11613,C-FO00032264,04/30/19 00:00:00,04/30/19 00:00:00,292950.0,5819755
5819755,5819755,1,53178,S-FO00265258,04/30/19 00:00:00,04/30/19 00:00:00,223880.0,5819756
5819756,5819756,1,53183,S-FO00265259,04/30/19 00:00:00,04/30/19 00:00:00,234270.0,5819757
5819757,5819757,1,53177,S-FO00265260,04/30/19 00:00:00,04/30/19 00:00:00,234270.0,5819758